:root {
    /* colors */
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --app-background-color: #111111;
    --background-color: #232323;
    --foreground-color: #343434;
    --highlight-color: #4E9F3D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--app-background-color);
    color: var(--primary-color);
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: var(--background-color);
    box-shadow: 0 6px 6px var(--highlight-color);
  }
  
  label {
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .palindrome-btn {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .palindrome-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid var(--highlight-color);
  }
  
  .palindrome-input:focus {
    border-bottom: 3px solid #5a01a7;
  }
  
  .palindrome-input::placeholder {
    text-align: center;
  }
  
  .user-input {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
  }
  
  .results-div {
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
  }
  
  .hidden {
    display: none;
  }
  
  .palindrome-definition-div {
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #00471b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .palindrome-definition {
    vertical-align: middle;
    text-align: center;
  }
  